#problema {
    background-color: #f8f9fa; 
    padding: 5rem;
  }
  
  #problema .container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .text-content {
    flex: 1; 
    padding-right: 20px; 
  }
  
  .image-content {
    flex: 1; 
  }
  
.img-fluid {
    max-width: 70%;
    height: 70%;
}
  